.eventItem {
  font-size: 18px;
  margin-bottom: 10px;
}

.eventDot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8em;
}

.eventTime {
  font-weight: 600;
}
