.taskItem {
  display: flex;
  align-items: center;
  padding: 8px var(--horizontal-padding);
}

.taskCheckbox {
  margin-right: 8px;
  cursor: pointer;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
}

.input::placeholder {
  color: #c7c7cd;
}

.taskInput {
  padding: 8px 0 8px var(--horizontal-padding);
}

.titleInput {
  max-width: 140px;
}

.repeatDaysLabel {
  margin-left: 8px;
  margin-right: 4px;
}

.repeatDaysInput {
  width: 40px;
}
