.App {
  --secondary-color: #999;
  --period-color: #ff5b7d;
  --period-color-hover: #e04a6a;
  display: flex;
  flex-direction: column;
  background-color: #f9fafd;
  height: 100vh;
  color: #3c3c43;
  overflow: hidden;
}

.App-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  background: #ffffff;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
  outline: 0.5px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}
