.App {
  background-color: #f9fafd;
  min-height: 100vh;
  color: #3f3f3f;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding: 20px;
}

ul {
  list-style: none;
  max-width: 1040px;
  margin: 0 auto;
  padding-inline: 40px;
}

li {
  margin-bottom: 32px;
}

.day-header {
  font-weight: 700;
  font-size: 30px;
  color: #1b3899;
  margin-bottom: 12px;
  border-bottom: 1px solid #b8b8b8;
  padding-bottom: 4px;
}
